<body> 
<head> 
    
   <style> 
   .icons{ 
    width: 150px;
    height: 50px;
   }
   .icon {
    margin-top: 50px; 
    margin-left: 10px; 
    height: 50px;  
   }
   .icon:hover{ 
    transform: scale(1.2);
   }

   </style> 
</head>
<footer> 
    <div class="container">
        
       <a  href="https://github.com/LauraBGitHub/Final_Project"><img class="icon" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ficon-library.com%2Fimages%2Fgithub-icon-white%2Fgithub-icon-white-6.jpg&f=1&nofb=1&ipt=26a332b0f7757eeb0171de20e9bfde6a6233051e8aefd81f01e7486a0df85d6c&ipo=images"></a>
       <a  href="https://discord.com"><img class="icon" src="https://icon-library.com/images/white-discord-icon/white-discord-icon-1.jpg"></a>
        <a  href="https://twitter.com"><img class="icon" src="https://webstockreview.net/images/twitter-icon-white-png-3.png"></a>
          
        
    </div>
</footer>
</body>